name: Build LaTeX and deploy on GitHub Releases
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  setup-compile-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Install LaTeX dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-bibtex-extra bibtex
      
      - uses: DanySK/compile-and-publish-all-latex@2.2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}